<div id="nav">
    <div class="con">
        <div class="log">
            <img src="/static/images1/log.jpeg" alt="" width="300px" height="80px">
        </div>
        <ul class="list">
            <li><a href="/index">网站首页</a></li>
            <li id="li2"><a href="/index/news">新闻</a>
                <ul id="sub_nav"></ul>
            </li>
            <li><a href="">订单</a>
                <ul>
                    <li><a href="">发布订单</a></li>
                    <li><a href="">接收订单</a></li>
                </ul>
            </li>
        </ul>


        <div class="act">
            <a href="">注册</a>
            <a href="">登录</a>
        </div>


    </div>

</div>




